.header {
	margin-bottom:50px;
}

body {
	color: white;
}
.navbar-header {
	font-size: "125%";
}

.navbar  a{
	background-color: gray;
	opacity: 0.6;
}

.navbar a.active {
	color: white;
	background: black;
}

.home-hero {
	text-align: center;
	vertical-align: center;
	color: white;
	text-shadow: 1px 1px black;
	font-size: 36px;
	font-family: Geneva, Helvetica;
}

.container-fluid {
	background-image: url("../img/heroImage.png");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
	height: 600px;
}